.menulocal{
    position: fixed;
    display: block;
    top:60px;
    width: 100%;
    height: auto;
    overflow: auto;
    overflow: auto;
    background-color: white;
    padding: 5px;
}

.embed{
    position: relative;
    margin-top: 30px;
    margin-bottom: 60px;
}

.embed .item{
    min-width: calc(100% - 10px);
}

.embed .item > * {
    margin: 3px;
}
.player{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100vw;
    background-color: white;
    border-top:1px solid gray
    
}

.player audio{
    display: none;
}

.controles{
    margin-bottom: 7px;
}

.controles button{
    display: inline-block;
    position: relative;
    background-color: lightgray;
    text-align: center;
    padding: 3px;
    margin: 2px;
    border: 1px solid grey;
    /*width: 55px;*/
    cursor: pointer;
}


.player .executar:hover, .player .pausar:hover,.player .parar:hover,.player  .repetir:hover{
    background-color: aquamarine;
    
}

.player .musica{
    margin:5px;
}

.player .progresso{
    position: absolute;
    left: 0;
    top: 0;
    background-color: lightgray;
    width: 100%;
    height: 5px;
}

.player .progresso .bar{
    position: absolute;
    top: 0;
    height: 100%;
    left: 0;
    width: 80%;
    background-color: blue;
}